<div class="appbody">
  <div class="titlesection">
    <img src="assets/logo.png" alt="logo">
    <span class="apptitle">T2onSteroids</span>
    <div class="titlecross"></div>
    <div>toolbar</div>
  </div>
  <div class="toolsection">toolbar</div>
  <div class="bodysection">
    <div class="treesection">tabview
      <div>tab1
        <div>treeview
          <div>filter</div>
          <div>tree</div>
        </div>
      </div>
      <div>tab2 similar stuff</div>
    </div>
    <div class="detailssection">tabview
      <div>tab1 [selected job]
        <div>pageview
          <div>status panel</div>
          <div>jil panel</div>
          <div>details panel</div>
          <div>history panel</div>
        </div>
      </div>
      <div>tab2 [other info, like logs, etc]</div>
    </div>
  </div>
</div>
